.portfolio-body{
    background-color: #f5be09;
    color : #000;
    font-family : Aldrich;
    
}
.nav-wrapper{
    list-style-type: none;    
}
.each-nav-value{
    display: inline-block;
    content: " |"
}
.each-nav-value a::after{
    display: inline-block;
    color: #000;
    content: '|';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}