.portfolio-body{
    background-color: #262626;
    color : #fff;
    font-family : Aldrich;
    
}
.nav-wrapper{
    list-style-type: none;    
}
.each-nav-value{
    display: inline-block;
    content: " |";
}
.each-nav-value a::after{
    display: inline-block;
    color: rgb(16, 120, 206);
    content: '|';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}


/*Article styles*/
.portfolio-cards{
    box-sizing: content-box;
    display: flex;
    margin: 0 0 var(--gap); /* check this */
    position: relative;
}
.article-card{
    margin-top: 4rem;
    margin-bottom : 1em;
    flex: 0 0 250px;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1.5rem;
    border-radius: 5px;
    border: 2px solid;
    border-image:  linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%) 1;
}

.article-card-header p {
    margin: 0;
    color :#fff;
}




.portfolio-footer{
    border-radius: 5px;
    border: 2px solid;
    border-image:  linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%) 1;
}